html {
    height: 100%;
}

body {
    background: #999999;
    font-family: sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

td {
    vertical-align: top;
}

td.checkbox {
    text-align: right;
}

tr.spaceTop > td
{
  padding-top: 4em;
}

.property-title {
    padding-right: 20px;
}

select.transaction {
    width: 404px;
}

div#eval {
    top: 40px;
    left: 40px;
    background: #ffffff;
    position: relative;
    width: 780px;
    font-family: sans-serif;
    font-size: 12pt;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    -webkit-box-shadow: 2px 2px 8px 2px;
    box-shadow: 2px 2px 8px 2px; 
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e8e8e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#e8e8e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}

div.slider {
    width: 402px;
}

div.value {
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 30px;
    font-weight: bold;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #000000;
    text-align: right;
}


button#submit {
    width: 120px;
    height: 60px;
    font-style: bold;
    font-size: 14pt;
    background-color: #006600;
    color: #ffffff;
    border: 0px;
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    cursor: pointer;
    margin-right: 20px;
}

button#submit[disabled] {
    background-color: #cccccc;
}


input {
    background: #ffffff;
    border: 1px solid #cccccc;
    width: 400px;
}

input#input-user {
    background: #f0f0f0;
}

input.checkbox {
    width: auto !important;
    min-width: 0;
    margin-left:auto;
    margin-right:auto;
}

div.ui-slider {
    /*background: #ffffff !important;*/
    border: 1px solid #cccccc;
    cursor: pointer;
}

a.ui-slider-handle {
    border: 1px solid #666666 !important;
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    cursor: pointer;
    background: -moz-radial-gradient(center, ellipse cover,  #cccccc 0%, #999999 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cccccc), color-stop(100%,#999999)) !important; /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #cccccc 0%, #999999 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #cccccc 0%,#999999 100%) !important; /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #cccccc 0%,#999999 100%) !important; /* IE10+ */
    background: radial-gradient(center, ellipse cover, #cccccc 0%,#999999 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#999999',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
}

.headslider {
    background: #cccccc !important;
}

.headslider .ui-slider-handle {
    border: 1px solid #999999 !important;
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    cursor: pointer;
    background: -moz-radial-gradient(center, ellipse cover,  #cccccc 0%, #999999 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cccccc), color-stop(100%,#999999)) !important; /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%, #ffffff 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #cccccc 0%,#999999 100%) !important; /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #cccccc 0%,#999999 100%) !important; /* IE10+ */
    background: radial-gradient(center, ellipse cover, #cccccc 0%,#999999 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#999999',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
}


div.title {
    font-weight: bold;
    font-size: 24pt;
    margin-bottom: 16px;
    text-shadow: 1px 1px 4px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
}

.ui-tooltip-content {
    font-size: 8pt;
    font: bold 14px "Helvetica Neue", Sans-Serif;
}

.ui-tooltip {
    border: 1px #fff;
    background-color: rgba(255, 238, 136, 0.85) !important;
    background: none;
    border-radius: 4px;
    /*opacity: .9;*/
    -webkit-box-shadow: 1px 1px 8px 1px;
    box-shadow: 1px 1px 8px 1px;

}

.head {
    font-weight: bold;    
}

.hidden_upload {
    display: none;
}

.buttons {
    -moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
    box-shadow:inset 0px 0px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #a6a6a6) );
    background:-moz-linear-gradient( center top, #ededed 5%, #a6a6a6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#a6a6a6');
    background-color:#ededed;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#4d4d4d;
    font-family:Trebuchet MS;
    font-size:15px;
    font-weight:bold;
    padding:6px 25px;
    text-decoration:none;
    text-shadow:0px 0px 4px #ffffff;
}.buttons:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a6a6a6), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #a6a6a6 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6a6a6', endColorstr='#ededed');
    background-color:#a6a6a6;
}.buttons:active {
    position:relative;
    top:1px;
}

input[type=checkbox].css-checkbox {
      position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:20px;
    height:15px; 
    display:inline-block;
    line-height:15px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}

.checkbox-style{background-image:url('../pics/checkbox.png');}

input[type=checkbox].css-checkbox.med + label.css-label.med {
    padding-left:22px;
    height:17px; 
    display:inline-block;
    line-height:17px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.med:checked + label.css-label.med {

    background-position: 0 -17px;
}
input[type=checkbox].css-checkbox.sme + label.css-label.sme {
    padding-left:22px;
    height:16px; 
    display:inline-block;
    line-height:16px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.sme:checked + label.css-label.sme{

    background-position: 0 -16px;
}
input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
    padding-left:22px;
    height:20px; 
    display:inline-block;
    line-height:20px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{

    background-position: 0 -20px;
}

