html {
    height: 100%;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.navbar {
    z-index: 9999;
}

i.fa {
    opacity: 0.7;
    margin-left: 15px;
    margin-top: 7px;
}

div.ui-slider {
    border: 1px solid #cccccc;
    cursor: pointer;
    margin-top: 5px;
}

a.ui-slider-handle {
    border: 1px solid #666666 !important;
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    cursor: pointer;
    background: -moz-radial-gradient(center, ellipse cover,  #cccccc 0%, #999999 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cccccc), color-stop(100%,#999999)) !important; /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #cccccc 0%, #999999 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #cccccc 0%,#999999 100%) !important; /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #cccccc 0%,#999999 100%) !important; /* IE10+ */
    background: radial-gradient(center, ellipse cover, #cccccc 0%,#999999 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#999999',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
}

.headslider {
    background: #cccccc !important;
}

.panel-heading {
    padding-bottom: 0px;
    padding-top: 0px;
}

.panel-body {
    padding-bottom: 0px;
}

.value {
    margin-left: -10px;
    padding-right: 0px;
}

.panel-heading .ui-slider-wrapper {
    height: 50px;
    margin-top: 10px;
}

.headslider .ui-slider-handle {
    border: 1px solid #999999 !important;
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    cursor: pointer;
    background: -moz-radial-gradient(center, ellipse cover,  #cccccc 0%, #999999 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cccccc), color-stop(100%,#999999)) !important; /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%, #ffffff 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #cccccc 0%,#999999 100%) !important; /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #cccccc 0%,#999999 100%) !important; /* IE10+ */
    background: radial-gradient(center, ellipse cover, #cccccc 0%,#999999 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#999999',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
}


.head {
    font-weight: bold;    
}

.hidden_upload {
    display: none;
}

.tooltip.right {
    z-index: 9999;
}

.tooltip-inner {
    width: 350px;
}

.panel-title {
    font-weight: bold;
    margin-top: 15px;
    position: absolute;
}

.checkbox {
    padding-left: 0px;
    margin-left: -5px;
}


input[type=checkbox].css-checkbox {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:20px;
    height:15px; 
    display:inline-block;
    line-height:15px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
    margin-top: -18px;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}

.checkbox-style{background-image:url('../pics/checkbox.png');}

input[type=checkbox].css-checkbox.med + label.css-label.med {
    padding-left:22px;
    height:17px; 
    display:inline-block;
    line-height:17px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.med:checked + label.css-label.med {

    background-position: 0 -17px;
}
input[type=checkbox].css-checkbox.sme + label.css-label.sme {
    padding-left:22px;
    height:16px; 
    display:inline-block;
    line-height:16px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.sme:checked + label.css-label.sme{

    background-position: 0 -16px;
}
input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
    padding-left:22px;
    height:20px; 
    display:inline-block;
    line-height:20px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
    margin-top: -18px;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{

    background-position: 0 -20px;
}